<div class='image-container'>
    <div id="previousButton">
        <button class="custom-mat-fab" mat-fab (click)="previousProduct()"><mat-icon class="arrows">arrow_back_ios_new</mat-icon></button>
    </div>
    <div class='productdata'
        *ngFor='let product of productObject?.slice(this.currentStartIndex, this.currentEndIndex)'>
        <button class="zoom-button" (click)="navigateThisProduct()"
            [routerLink]="'/product/' + product.id">
            <div class="productname">{{product.name}}</div>
            <img [src]="getImageUrl(product)" alt='{{product.name}}'>
            <button mat-fab class="marker">{{this.markerFirstWord}}<br/>{{this.markerSecondWord}}</button>
            <div class="productprice" 
            [ngClass]="this.user?.discount || this.marker=='discount' ? 'originalPriceLineThrough' : ''">
                {{product.price}} Ft
            </div>
            <div class="discountProductPrice" *ngIf="!this.user?.discount && this.marker == 'discount'">{{(product.price * 0.5) | priceFormat}} Ft</div>
            <div class="discountProductPrice" *ngIf="this.user?.discount">{{this.marker != 'discount' ? ((product.price * (1-(this.user!.discount/100))) | priceFormat) : ((product.price * (0.5-(this.user!.discount/100))) | priceFormat)}} Ft</div>
            <div class="button-container">
                <div class="pt-6">
                    <p class="productcount">Mennyiség</p>
                    <div><button class="increase-button" type="button" mat-raised-button
                            (click)="increaseCount(product.id, product.quantity); $event.stopPropagation()"><mat-icon>add</mat-icon></button>
                    </div>
                    <div class="productcount">{{this.productQuantity[product.id] || 1}}</div>
                    <div><button class="decrease-button" type="button" mat-raised-button
                            (click)="decreaseCount(product.id); $event.stopPropagation()"><mat-icon>remove</mat-icon></button>
                    </div>
                </div>
                <button class="cart" type="button" mat-raised-button
                    (click)="onAddToCart(product); $event.stopPropagation()">Kosárba<mat-icon>shopping_bag</mat-icon></button>
            </div>
        </button>
    </div>
    <div id="forwardButton">
        <button class="custom-mat-fab" mat-fab (click)="nextProduct()"><mat-icon class="nextarrows arrows">arrow_forward_ios_new</mat-icon></button>
    </div>
</div>