<div class="div-card">
    <mat-card fxLayout fxLayoutGap="20px">
        <!--grow shrink basis -->
        <span fxFlex="1 1 50%">
            <mat-card-header>
                <div class="mat-card-title">
                    <mat-card-title>{{this.actProduct?.name}}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content fxLayout>
                <div fxLayout="column">
                    <img src="{{this.loadedImage}}" alt="Product">
                    <div fxLayout="column" fxLayoutGap="15px" id="count">
                        <p>Mennyiség</p>
                        <div><button type="button" mat-raised-button color="accent"
                                (click)="increaseCount(); $event.stopPropagation()"><mat-icon>add</mat-icon></button>
                        </div>
                        <p>{{this.productCount}}</p>
                        <div><button type="button" mat-raised-button color="accent"
                                (click)="decreaseCount(); $event.stopPropagation()"><mat-icon>remove</mat-icon></button>
                        </div>
                        <button class="cart" type="button" mat-raised-button color="accent"
                            (click)="addToCart(); $event.stopPropagation()">Kosárba<mat-icon>shopping_bag</mat-icon></button>
                    </div>
                </div>
                <div>
                    <p class="long-text"><span id="description">Leírás: </span><br><span>{{this.actProduct?.short_description}}</span></p>
                    <p *ngIf="this.actProduct !== undefined && this.actProduct.alcohol > 0">Alkohol tartalom: {{this.actProduct.alcohol}}%</p>
                    <p *ngIf="this.actProduct !== undefined && this.actProduct.alcohol === 0">Alkoholmentes</p>     
                    <p>Ár: {{this.actProduct?.price}} Ft</p>
                </div>
            </mat-card-content>
        </span>
        <span fxFlex="1 1 50%">
            <span>
                <h2 class="similarProductTitle">Hasonló termékek</h2>
                <div class="image-container">
                    <div *ngFor='let product of similarProducts; let i = index' [ngClass]="{'second-row': i >= 4}">
                        <button class="similarProductButton" (click)="navigateThisProduct()"
                            [routerLink]="'/main/product/' + product.id">
                            <span *ngFor='let loadedImage of similarLoadedImages'>
                                <img class="similarImage" *ngIf="this.loadedImage.includes(product.id)"
                                    [src]="this.loadedImage" alt='Image'>
                            </span>
                        </button>
                    </div>
                </div>
            </span>
            <mat-card-actions id="addComment">
                <fieldset [disabled]="!this.user">
                    <form [formGroup]="commentsForm" (ngSubmit)="addComment()">
                        <div>
                            <mat-form-field id="addCommentUsername">
                                <mat-label for="username">Felhasználónév:</mat-label>
                                <input matInput type="text" formControlName="username" readonly />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label for="comment">Komment: </mat-label>
                                <textarea matInput id="comment" rows="7" formControlName="comment"></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button color="accent" type="submit"
                                [disabled]="!this.user">Hozzáadás</button>
                        </div>
                    </form>
                </fieldset>
                <div *ngIf="!this.user" id="loginButton">
                    <button mat-raised-button color="accent" routerLink="/login">Jelentkezz be, hogy hozzászólást
                        írj</button>
                </div>
            </mat-card-actions>
        </span>
    </mat-card>
    <div>
        <h2 class="commenttitle">Hozzászólások:</h2>
        <div class="commenttitle" *ngIf="comments.length == 0">Ehhez a termékhez még nem szóltak hozzá, légy te az első!
        </div>
        <div *ngIf="comments.length">
            <table>
                <tr>
                    <th id="commentuser">Felhasználók:</th>
                    <th></th>
                    <th></th>
                </tr>
                <tr class="commentdata" *ngFor="let comment of comments">
                    <td class="commentusername"><span>{{comment.username}}</span> ({{comment.date | dateFormat }})</td>
                    <td class="commentdescription">
                        <span>{{comment.comment}}</span>
                        <span class="commentdeletebutton">
                            <button mat-raised-button color="accent"
                                *ngIf="this.user && this.user.username == comment.username"
                                (click)="deleteComment(comment.id, comment.username)">Törlés
                                <mat-icon>delete</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>