<div class="pt-[50px] pl-[200px] pr-[200px]" *ngIf="isCorrectProduct()">
    <mat-card class="bg-gray-600">
        <span>
            <mat-card-header>
                <div class="mat-card-title">
                    <mat-card-title>{{this.actProduct?.name}}</mat-card-title>
                </div>
            </mat-card-header>
            <mat-card-content fxLayout class="text-center items-center">
                <div>
                    <div class="w-[240px]">
                        <img class="h-[640px] w-[320px] border-[10px] border-[#808080] rounded-md" src="{{this.loadedImage}}" alt="{{this.actProduct?.name}}">
                    </div>
                    <div fxLayout="column" fxLayoutGap="5px" class="pt-[10%]">
                        <p>Mennyiség</p>
                        <div>
                            <button type="button" mat-raised-button color="accent"
                                (click)="increaseCount(this.actProduct?.quantity); $event.stopPropagation()">
                                <mat-icon>add</mat-icon>
                            </button>
                        </div>
                        <p>{{this.productQuantity}}</p>
                        <div>
                            <button type="button" mat-raised-button color="accent"
                                (click)="decreaseCount(); $event.stopPropagation()">
                                <mat-icon>remove</mat-icon>
                            </button>
                        </div>
                        <button class="cart" type="button" mat-raised-button color="accent"
                            (click)="onAddToCart(this.actProduct); $event.stopPropagation()">Kosárba<mat-icon>shopping_bag</mat-icon></button>
                    </div>
                </div>
                <div class="w-[50%]">
                    <p class="long-text"><span class="text-[140%] font-bold block">Leírás: </span><br><span *ngIf="!this.descriptionInput">{{this.actProduct?.short_description}}</span></p>
                    <textarea class="text-black" rows="5" cols="50" *ngIf="this.descriptionInput && this.actProduct" value="{{this.actProduct.short_description}}" [(ngModel)]="this.actProduct.short_description"></textarea>
                    <button *ngIf="this.user?.admin" (click)="updateDescription()">
                        <mat-icon *ngIf="!this.descriptionInput">edit</mat-icon>
                        <mat-icon *ngIf="this.descriptionInput">save</mat-icon>
                    </button>
                    <button *ngIf="this.user?.admin" (click)="cancelUpdate()">
                        <mat-icon *ngIf="this.descriptionInput">cancel</mat-icon>
                    </button>
                    <p *ngIf="this.actProduct !== undefined && this.actProduct.alcohol > 0">Alkohol tartalom: {{this.actProduct.alcohol}}%</p>
                    <p *ngIf="this.actProduct?.alcohol === 0">Alkoholmentes</p> 
                    <p *ngIf="this.user?.admin">Mennyiség: 
                        <span *ngIf="!this.quantityInput">{{this.actProduct?.quantity}}</span>
                        <input class="text-black" type="number" *ngIf="this.quantityInput && this.actProduct" value="{{this.actProduct.quantity}}" [(ngModel)]="this.actProduct.quantity"/>
                        db raktáron 
                        <button *ngIf="this.user?.admin" (click)="updateQuantity()">
                            <mat-icon *ngIf="!this.quantityInput">edit</mat-icon>
                            <mat-icon *ngIf="this.quantityInput">save</mat-icon>
                        </button>
                        <button *ngIf="this.user?.admin" (click)="cancelUpdate()">
                            <mat-icon *ngIf="this.quantityInput">cancel</mat-icon>
                        </button>
                    </p>
                    <p *ngIf="this.actProduct?.marker === 'sale'" class="font-bold text-red-600">Hamarosan elfogy!!!</p>
                    <p *ngIf="!this.user?.discount">Ár: {{this.actProduct !== undefined && this.actProduct.marker === "discount" ? ((this.actProduct.price * 0.5) | number:'1.0-0') : this.actProduct?.price}} Ft</p>
                    <p *ngIf="this.user?.discount">Ár: {{this.actProduct?.marker === "discount" ? ((this.actProduct!.price * (0.5-(this.user!.discount/100))) | number:'1.0-0') : ((this.actProduct!.price * (1-(this.user!.discount/100))) | number:'1.0-0')}} Ft</p>
                    <button *ngIf="this.user?.admin" mat-raised-button color="accent" (click)="onDeleteProduct()">Termék törlése</button>
                    <mat-card-actions class="absolute bottom-0">
                                <form class="text-center" [formGroup]="ratingsForm" (ngSubmit)="addOrUpdateRating()">
                                    <div>
                                        <mat-form-field>
                                            <mat-label for="rating">Hogy tetszik ez a termék? Értékeled: </mat-label>
                                            <input matInput type="number" formControlName="rating" min="1" max="5" placeholder="0" hidden/>
                                            <label class="star-rating" *ngFor="let star of ratingStars" (click)="onRatingProduct(star)">
                                                <input type="submit" class="custom-radio-input" hidden>
                                                <i class="fa-star" [class.selected]="selectedStar >= star"></i>
                                            </label>
                                        </mat-form-field>
                                    </div>
                                </form>
                    </mat-card-actions>
                </div>            
            </mat-card-content>
        </span>
        <span fxFlex="1 1 50%">
            <span>
                <h2 class="similarProductTitle">Hasonló termékek</h2>
                <div class="image-container">
                    <div *ngFor='let product of similarProducts; let i = index' [ngClass]="{'second-row': i >= 4}">
                        <button class="w-[100px]" (click)="navigateThisProduct()"
                            [routerLink]="'/main/product/' + product.id">
                            <span *ngFor='let loadedImage of similarLoadedImages'>
                                <img class="similarImage" *ngIf="this.loadedImage.includes(product.id)"
                                    [src]="this.loadedImage" alt='Image'>
                            </span>
                        </button>
                    </div>
                </div>
            </span>
            <mat-card-actions id="addComment">
                <fieldset [disabled]="!this.user">
                    <form class="text-center" [formGroup]="commentsForm" (ngSubmit)="addComment()">
                        <div>
                            <mat-form-field class="text-[140%]">
                                <mat-label for="username">Felhasználónév:</mat-label>
                                <input matInput type="text" formControlName="username" readonly />
                            </mat-form-field>
                        </div>
                        <div>
                            <mat-form-field>
                                <mat-label for="comment">Komment: </mat-label>
                                <textarea matInput id="comment" rows="7" formControlName="comment"></textarea>
                            </mat-form-field>
                        </div>
                        <div>
                            <button mat-raised-button color="accent" type="submit"
                                [disabled]="!this.user">Hozzáadás</button>
                        </div>
                    </form>
                </fieldset>
                <div *ngIf="!this.user" id="loginButton">
                    <button mat-raised-button color="accent" routerLink="/login">Jelentkezz be, hogy hozzászólást
                        írj</button>
                </div>
            </mat-card-actions>
        </span>
    </mat-card>
    <div>
        <h2 class="comment_title">Hozzászólások:</h2>
        <div class="no_comment" *ngIf="comments.length == 0">
            Ehhez a termékhez még nem szóltak hozzá, légy te az első!
        </div>
        <div *ngIf="comments.length">
            <table class="w-[100%]">
                <tr>
                    <th class="text-black text-[150%] bg-[#dfdbdb] p-3 rounded-md">Felhasználók:</th>
                </tr>
                <tr *ngFor="let comment of comments">
                    <td class="text-white bg-[#696969] w-[12%] font-bold border-[12px] border-[#dfdbdb]">
                        <div>{{comment.username}}</div> ({{comment.date | dateFormat }})
                        <img class="h-[120px] w-[160px] block m-auto border-[3px]" [src]="getImageUrl(comment.username)" alt="{{this.user?.username}}">
                    </td>
                    <td class="commentdescription">
                        <span *ngIf="!comment.isEditing">{{ comment.comment }}</span>
                        <input *ngIf="comment.isEditing" value="{{comment.comment}}" [(ngModel)]="comment.comment" class="w-[75%] h-[150%] float-left" />
                        <span class="float-right">
                            <button mat-raised-button color="accent"
                            *ngIf="this.user && (this.user.username == comment.username || this.user.admin) && !showLabels"
                            (click)="showLabels = true">...</button>
                            <button mat-raised-button color="accent"
                                *ngIf="this.user && this.user.username == comment.username && showLabels" 
                                (click)="updateComment(comment)"><span *ngIf="!comment.isEditing">Szerkesztés</span>
                                <span *ngIf="comment.isEditing">Mentés</span>
                                <mat-icon>edit</mat-icon>
                            </button>
                            <button mat-raised-button color="accent"
                                *ngIf="this.user && (this.user.username == comment.username || this.user.admin) && showLabels && !comment.isEditing" 
                                (click)="deleteComment(comment.id, comment.username)">Törlés
                                <mat-icon>delete</mat-icon>
                            </button>
                            <button mat-raised-button color="accent"
                                *ngIf="this.user && this.user.username == comment.username && showLabels && comment.isEditing" 
                                (click)="updateCancelComment(comment)">Mégse
                                <mat-icon>cancel</mat-icon>
                            </button>
                        </span>
                    </td>
                </tr>
            </table>
        </div>      
    </div>
</div>
<span *ngIf="!isCorrectProduct()">
    <div class='title'>Ez a termék nem létezik!</div>
    <div class="fill-background"></div>         
</span>   