.header {
    background-color: lightgreen;
    border-top: solid 5px brown;
    border-right: solid 5px brown;
    border-left: solid 5px brown;
}

.gameCanvas {
    background-image: url('../../assets/img/gameBackground.jpg');
    border: solid 5px brown;
}
.ruslanDisplay {
    font-family: 'Ruslan Display';
}

.gameButton:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.pageBackground {
    background: linear-gradient(to right, #000000, #00ff00, #000000);
}