.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #696969;
}

.login_component {
    height: 100vh;
    margin: 0 auto;
}

mat-card {
    width: 50%;
}

.mat-card-title {
    font-size: 150%;
}

form div {
    padding: 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.buttons {
    padding: 10px;
}

button:hover {
    transition: transform 0.5s;
    transform: scale(1.2);
}

button {
    width: 130px;
}

