.div-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100vh;
    background-color: #696969;
}

.mat-card-title {
    font-size: 150%;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}


button:hover {
    transition: transform 0.75s;
    transform: scale(1.1);
}

button {
    width: 130px;
}

// aláhúzás a kommentnél
::ng-deep .mat-focused .mat-form-field-ripple {
    background-color: grey !important;
}

mat-label {
    color: white;
}

// kurzor szín
input {
    caret-color: #14d8e6;
}


@media (max-width: 900px) {
    mat-card {
        width: 70%;
    }

    button:hover {
        transition: transform 0.3s;
        transform: scale(1.05);
    }

    .mat-card-title {
        font-size: 130%;
    }

    form {
        display: block;
    }

    .buttons {
        padding: 5px;
    }

    button {
        width: 110px;
    }

    .button-container {
        display: flex;
        justify-content: flex-start;
    }

}