
<span class="loading-spinner" *ngIf="loginLoading"><mat-spinner></mat-spinner></span>
<div class="login_component">
    <div class="div-flex">
        <h1>Bejelentkezés</h1>
        <form [formGroup]="usersForm" (ngSubmit)="login()">
            <mat-form-field>
                <mat-label for="email">Email:</mat-label>
                <input matInput id="email" type="text" formControlName="email">
            </mat-form-field>
            <mat-form-field>
                <mat-label for="password">Jelszó:</mat-label>
                <input matInput id="password" type="password" formControlName="password">
            </mat-form-field>
            <span>
                <span class="buttons"><button mat-raised-button color="primary" type="submit">Bejelentkezés</button></span>
                <span class="buttons"><button mat-raised-button color="primary" [routerLink]="'/registration'">Regisztráció</button></span>
            </span>
            <!-- AsyncPipe -->
            <!-- <p>{{ loadingObservation| async}}</p> -->
        </form>
        </div>
</div>