mat-sidenav-container {
    background-image: url('../assets/img/woodBackground.jpg');
    background-size: 1000px;
}

a {
    text-decoration: none;
    color: white;
}

a:hover, a:active {
    color: #14d8e6;
}

.navigation-items {
    list-style: none;
    font-size: 110%;
    padding: 0;
    margin: 0;
}

.navigation-items a.active {
    color: #14d8e6;
}

#nav-item1 {
    font-size: 130%;
    padding-bottom: 40px;
}

mat-sidenav {
    width: 250px;
}


.disabled-link {
    pointer-events: none;
    color: gray; 
}

.app-toolbar {
    height: 15vh; /* A menüsor magasságának beállítása */
  }

#title {
    font-family:'Rubik Wet Paint';
    font-weight: bolder;
    font-size: 300%;
}

.highlight {
    font-size: 1.5em;
}

#liquor {
    font-size: 80%;
}

#shopping_bag {
    font-size: 200%;
    position: relative;
    right: 100%;
}

#menuicon {
    font-size: 500%;
}


@media (max-width: 700px) {
    #title {
        font-size: 170%;
    }

    #menuicon {
        font-size: 365%;
    }
}
