.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plexi-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(90, 20, 0, 0.25);
    z-index: 1;
}

.title {
    text-align: center;
    padding: 4%;
    font-family: 'Rubik Wet Paint';
    font-size: 600%;
    z-index: 2;

    color: #663b00;
    -webkit-text-stroke: 6px #ff9600;
    text-shadow: 15px 15px 5px #ff9600;
}

.sort-title {
    font-family: 'Rubik Wet Paint';
    font-size: 100%;
    z-index: 2;

    color: #663b00;
    -webkit-text-stroke: 2px #ff9600;
    text-shadow: 10px 10px 5px #ff9600;
}

.optionalCategories {
    text-align: center;
    padding: 1.5%;
    font-size: 55px;
    z-index: 2;
    text-decoration: underline;
}

.fill-background {
    content: "";
    background-color: #696969;
    height: 32vh;
  }

.sort {
    display: flex;
    justify-content: center;
    text-align: left;
    font-size: 32px;
    margin-bottom: 3%;
    z-index: 2; 
}

.selectedSort {
    background-color: #663b00;
    color: white;
}

.sort-cancel {
    background-color: orangered;
    color: black;
}


.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.productdata img {
    width: 210px;
    height: 500px;
    border: 6px solid #000;
    border-radius: 5px;
    display: inline-block;
}


.productdata {
    flex: -1;
    padding-left: 3%;
    // A végén levő kilógást megakadályozza
    padding-bottom: 5%;
}

.productname {
    padding-bottom: 10%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.productprice {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.productcount {
    font-size: 180%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.originalPriceLineThrough {
    text-decoration: line-through;
}

.discountProductPrice {
    font-size: 245%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
    color: orangered;
}

.zoom-button {
    cursor: pointer;
    width: 300px;
    height: 820px;
    position: relative;
    overflow: hidden;
    padding: 0;
    border: 10px solid #663b00;
    border-radius: 10px;
    background-color: burlywood;
    color: black;
}

.zoom-button:hover {
    transition: transform 0.3s;
    transform: scale(1.075);
}

.cart {
    height: 120px;
    background-color: #663b00;
    color: burlywood;
}

.cart:hover {
    transition: transform 0.4s;
    transform: scale(1.05);
}

.increase-button {
    background-color: #663b00;
    color: burlywood;
    margin-bottom: 3%;
}

.decrease-button {
    background-color: #663b00;
    color: burlywood;
    margin-top: 3%; 
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.marker {
    font-size: 150%;
    font-weight: bolder;
    color: white;
    transform: rotate(-20deg);
    position: absolute;
    bottom: 28%;
    right: 3%;
    width: 140px;
    height: 140px;
    background-color: orangered;
}

#addProduct {
    transform: scale(8);
    color: grey;
}

.addProductButton {
    background-color: lightgray;
}

.search-button:disabled {
    background-color: burlywood;
    color: #663b00;
    border-radius: 0;
}

@media (max-width: 1100px) {
    .title {
        font-size: 70px;
        padding: 12%;
    }

    .zoom-button {
        width: 230px;
        height: 670px;
        margin: 5%;
        margin-bottom: 10%;
    }

    .productdata img {
        width: 150px;
        height: 400px;
    }

    .productname {
        font-size: 140%;
    }

    .productprice {
        font-size: 130%;
    }

    .productcount {
        font-size: 120%;
    }

    .cart {
        font-size: 85%;
    }

    .marker {
        font-size: 100%;
        transform: rotate(-15deg);
        bottom: 28%;
        width: 100px;
        height: 100px;
    }
}