<div id='flex'>
    <span class="plexi-layer">
        <div class='title' *ngIf="this.category == 'All'">Minden termék</div>
        <div class='title' *ngIf="this.category == 'Beer'">Sörök</div>
        <div class='title' *ngIf="this.category == 'Wine'">Borok</div>
        <div class='title' *ngIf="this.category == 'Champagne'">Pezsgők</div>
        <div class='title' *ngIf="this.category == 'Whisky'">Whisky-k</div>
        <div class='title' *ngIf="this.category == 'Vodka'">Vodkák</div>
        <div class='title' *ngIf="this.category == 'Gin'">Ginek</div>
        <div class='title' *ngIf="this.category == 'Firewater'">Pálinkák</div>
        <div class='title' *ngIf="this.category == 'Bitter'">Keserűk</div>
        <div class='title' *ngIf="this.category == 'Drink'">Üdítők</div>
        <div class='image-container'>
            <div class='productdata' *ngFor='let product of productObject'>
                <button class="zoom-button" (click)="navigateThisProduct()"
                    [routerLink]="'/main/product/' + product.id">
                    <div class="productname">{{product.name}}</div>
                    <span *ngFor='let loadedImage of loadedImages'>
                        <img *ngIf="this.loadedImage.includes(product.id)" [src]="this.loadedImage" alt='Image'>
                    </span>
                    <div class="productprice">{{product.price}} Ft</div>
                    <button class="cart" mat-raised-button color="accent" (click)="addToCart(product); $event.stopPropagation()">Kosárba<mat-icon>shopping_bag</mat-icon></button>
                </button>
            </div>
        </div>
    </span>
</div>