<div id='div-flex'>
    <span class="plexi-layer">
        <div class='title' *ngIf="this.category === 'All'">Minden</div>
        <div class='title' *ngIf="this.category === 'Beer'">Sörök</div>
        <div class='title' *ngIf="this.category === 'Wine'">Borok</div>
        <div class='title' *ngIf="this.category === 'Champagne'">Pezsgők</div>
        <div class='title' *ngIf="this.category === 'Whisky'">Whisky-k</div>
        <div class='title' *ngIf="this.category === 'Vodka'">Vodkák</div>
        <div class='title' *ngIf="this.category === 'Gin'">Ginek</div>
        <div class='title' *ngIf="this.category === 'Firewater'">Pálinkák</div>
        <div class='title' *ngIf="this.category === 'Bitter'">Keserűk</div>
        <div class='title' *ngIf="this.category === 'Drink'">Üdítők</div>
        <div class='image-container' fxLayout="row wrap" fxLayoutGap="20px">
            <div class='productdata' *ngFor='let product of productObject'>
                <button class="zoom-button" (click)="navigateThisProduct()"
                    [routerLink]="'/main/product/' + product.id">
                    <div class="productname">{{product.name}}</div>
                    <span *ngFor='let loadedImage of loadedImages'>
                        <img *ngIf="this.loadedImage.includes(product.id)" [src]="this.loadedImage" alt='Image'>
                    </span>
                    <button *ngIf="product.marker === 'soon'" mat-fab class="marker">HAMAROSAN<br />ÉRKEZIK</button>
                    <button *ngIf="product.marker === 'new'" mat-fab class="marker">ÚJ<br />TERMÉK</button>
                    <button *ngIf="product.marker === 'discount'" mat-fab class="marker">-50%<br />AKCIÓ</button>
                    <button *ngIf="product.marker === 'sale'" mat-fab class="marker">KIÁRUSÍTÁS</button>
                    <div class="productprice" [ngClass]="product.marker === 'discount' ? 'originalPriceLineThrough' : ''">{{product.price}} Ft</div>
                    <div *ngIf="product.marker === 'discount'" class="discountProductPrice">{{(product.price * 0.5) | number:'1.0-0'}} Ft</div>
                    <div class="button-container">
                        <div>
                            <p class="productcount">Mennyiség</p>
                            <div><button type="button" mat-raised-button color="accent"
                                    (click)="increaseCount(product.id); $event.stopPropagation()"><mat-icon>add</mat-icon></button>
                            </div>
                            <div class="productcount">{{this.productQuantity[product.id] || 1}}</div>
                            <div><button type="button" mat-raised-button color="accent"
                                    (click)="decreaseCount(product.id); $event.stopPropagation()"><mat-icon>remove</mat-icon></button>
                            </div>
                        </div>
                        <button class="cart" type="button" mat-raised-button color="accent"
                            (click)="onAddToCart(product); $event.stopPropagation()">Kosárba<mat-icon>shopping_bag</mat-icon></button>
                    </div>
                </button>
            </div>
            <div class='productdata'>
                <button class="zoom-button" id="addProductButton" routerLink="/newProduct">
                    <span>
                        <mat-icon id="addProduct">add_circle</mat-icon>
                    </span>
                </button>
            </div>
        </div>
    </span>
</div>