<div class="plexi-layer">
    <div class="z-[2]" [ngStyle]="{ 'height': this.containerHeight }">
        <h1 class="pt-[5%] pb-[3%] title">Blogok</h1>
        <span *ngFor="let blog of this.blogs">
            <app-blog-content [blog]="blog"></app-blog-content>
        </span>
        <mat-card class="mt-[2%] w-[95%] block m-auto border-[6px]">
            <form *ngIf="this.addBlog" [formGroup]="blogsForm" (ngSubmit)="onAddBlog()">
                <div class="flex flex-col items-center">
                    <mat-form-field appearance="fill">
                        <mat-label for="title">Cím:</mat-label>
                        <input matInput type="text" formControlName="title">
                    </mat-form-field>
                </div>
                <div class="flex flex-col">
                    <mat-form-field appearance="fill">
                        <mat-label for="text">Tartalom:</mat-label>
                        <textarea rows="10" matInput formControlName="text"></textarea>
                    </mat-form-field>
                </div>
                <div class="flex justify-center">
                    <span>
                        <button class="hoverButton" mat-raised-button color="accent" type="submit">Hozzáad</button>
                    </span>
                    <span class="pl-[1%]">
                        <button class="hoverButton" mat-raised-button color="accent" (click)="onAddBlogCancel()">Mégse</button>
                    </span>
                </div>
            </form>
            <button *ngIf="!this.addBlog" mat-raised-button color="accent" class="w-[100%]" (click)="onAddBlog()"><mat-icon>add_circle</mat-icon></button>
        </mat-card>
    </div>
</div>
