<div class="plexi-layer">
    <div class="flex-container">
        <h1 class="pt-[5%] pb-[5%] title">Blogok</h1>
        <div *ngFor="let blog of this.blogs">
            <mat-card class="mt-[2%] w-[95%] block m-auto">
                <mat-card-header>
                    <span class="mat-card-title"><mat-card-title>{{blog.title}}</mat-card-title></span> 
                </mat-card-header>
                <mat-card-content>
                    <span *ngIf="!blog.wholeText">{{onSubText(blog.id)}}</span>
                    <button *ngIf="!blog.wholeText" (click)="onReadContinue(blog.id)">...Tovább</button>
                    <span *ngIf="blog.wholeText">{{blog.text}}</span>
                </mat-card-content>
                <mat-card-footer class="float-right">
                    Szerző: {{blog.author}}
                </mat-card-footer>
            </mat-card>
        </div>
        <mat-card class="mt-[2%] w-[95%] block m-auto">
            <button mat-raised-button color="accent" class="w-[100%]"><mat-icon>add_circle</mat-icon></button>
        </mat-card>
    </div>
</div>
