.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.plexi-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(90, 20, 0, 0.25);
    z-index: 1;
}

.title {
    text-align: center;
    padding: 6%;
    font-family: 'Rubik Wet Paint';
    font-size: 600%;
    z-index: 2;

    color: #663b00;
    -webkit-text-stroke: 6px #ff9600;
    text-shadow: 15px 15px 5px #ff9600;
}


@media (max-width: 1535px) {
    .title {
        font-size: 500%;
    }
}

@media (max-width: 1300px) {
    .title {
        font-size: 400%;
    }
}

@media (max-width: 1025px) {
    .title {
        font-size: 300%;
    }
}
@media (max-width: 800px) {
    .title {
        font-size: 200%;
    }
}
