#flex {
    display: flex;
    flex-direction: column;
    justify-content: center;    
}

.plexi-layer {
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }

.title {
    text-align: center;
    padding: 6%;
    font-family: 'Rubik Wet Paint';
    font-size: 80px;
    z-index: 2;
}

.image-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}


.productdata img {
    width: 200px;
    height: 600px;
    object-fit: cover;
    border: 6px solid #000;
    border-radius: 5px;
}


.productdata {
    flex: 1;
    padding-left: 2%;
    // A végén levő kilógást megakadályozza
    padding-bottom: 3%;
}

.productname {
    padding-top: 5%;
    padding-bottom: 5%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.productprice {
    padding-bottom: 5%;
    font-size: 200%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.productcount {
    font-size: 180%;
    font-weight: bolder;
    font-family: 'Courier New', Courier, monospace;
}

.zoom-button {
    cursor:pointer;
    width: 300px;
    height: 950px;
    position: relative;
    overflow: hidden;
    padding: 0;
    border: 10px solid grey;
    border-radius: 10px;
}
  
.zoom-button:hover {
    transition: transform 0.3s;
    transform: scale(1.1);
}

.cart:hover {
    transition: transform 0.4s;
    transform: scale(1.1);
}

.button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 10%;
}

.custom-mat-fab {
    width: 80px;
    height: 100px;
    position: relative;
    // elrejti a belőle esetleges kilógó részeket
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
}

#previousButton {
    margin-left: 5%;
}

#forwardButton {
    margin-right: 5%;
}

.arrows {
    font-size: 500%;
    font-weight: bolder;
    position: relative;
    right: 20px;
    transform: translateY(-100%);
}


  

