.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: #696969;
}

.registration_component {
    height: 100vh;
    margin: 0 auto;
}

mat-card {
    width: 50%;
}

.mat-card-title {
    font-size: 150%;
}

form div {
    padding: 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.nameForm {
    width: 100%;
    display: inline-grid;
}

.buttons {
    padding: 5px;
}

button {
    width: 130px;
}
