.div-flex {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 70vh;
    padding-top: 10%;
}

.plexi-layer {
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.mat-card-background {
    background-image: url('/../assets/img/wooden_wall_with_nails.jpg');
    background-size: cover;
}

.mat-card-title {
    margin-top: 5%;
    font-size: 170%;
    font-family: 'LoggerWooden';
    color:burlywood;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.nameForm {
    width: 100%;
    display: inline-grid;
}

.signup-button {
    color: burlywood; 
    background-image: url('/../assets/img/wooden_wall_with_nails.jpg');
    width: 150px;
    height: 50px;
    font-size: 18px;
    font-family:cursive;
}

.signup-button:hover {
    transition: transform 0.75s;
    transform: scale(1.1);
}

::ng-deep .mat-focused .mat-form-field-ripple {
    background-color: burlywood !important;
}

.label {
    font-family:cursive;
    color: burlywood;
}

// kurzus szín
input {
    caret-color: burlywood;
}

@media (max-width: 900px) {
    .mat-card-background {
        width: 70%;
    }

    .signup-button:hover {
        transition: transform 0.3s;
        transform: scale(1.05);
    }

    .mat-card-title {
        font-size: 130%;
    }

    form {
        display: block;
    }

    .signup-button {
        width: 110px;
    }
}
