.div-flex {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    background-color: #696969;
}

.registration_component {
    height: 100vh;
    margin: 0 auto;
}

mat-card {
    width: 50%;
}

.mat-card-title {
    font-size: 150%;
}

form div {
    padding: 5px;
}

form {
    display: inline-grid;
    width: 50%;
    align-self: center;
}

.nameForm {
    width: 100%;
    display: inline-grid;
}

.button-container {
    display: flex;
    justify-content: center;
}

.buttons {
    padding: 10px;
}

button:hover {
    transition: transform 0.75s;
    transform: scale(1.1);
}

button {
    width: 130px;
}

// aláhúzás a kommentnél
::ng-deep .mat-focused .mat-form-field-ripple  {
    background-color: grey !important;
}

mat-label {
    color: white;
}

// kurzus szín
input {
    caret-color: #14d8e6;
}

@media (max-width: 900px) {
    mat-card {
        width: 70%;
    }

    button:hover {
        transition: transform 0.3s;
        transform: scale(1.05);
    }

    .mat-card-title {
        font-size: 130%;
    }

    form {
        display: block;
    }

    .buttons {
        padding: 5px;
    }

    button {
        width: 110px;
    }

    .button-container {
        display: flex;
        justify-content: flex-start;
    }
}
