<span class="loading-spinner" *ngIf="loginLoading"><mat-spinner color="accent"></mat-spinner></span>
<div class="newProductComponent">
    <div class="div-flex">
        <mat-card fxLayout="column" fxLayoutGap="30px">
            <mat-card-header fxLayoutAlign="center">
                <span class="mat-card-title"><mat-card-title>Termék hozzáadás</mat-card-title></span>
            </mat-card-header>
            <mat-card-content>
                <form [formGroup]="productsForm" (ngSubmit)="addProduct()">
                    <mat-form-field>
                        <mat-label for="id">ID:</mat-label>
                        <input matInput type="text" formControlName="id">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="name">Terméknév:</mat-label>
                        <input matInput type="text" formControlName="name">
                    </mat-form-field>
                    <mat-form-field color="white">
                        <mat-label for="category">Kategória:</mat-label>
                        <mat-select matInput formControlName="category">
                            <mat-option value="Drink">Üdítő</mat-option>
                            <mat-option value="Beer">Sör</mat-option>
                            <mat-option value="Wine">Bor</mat-option>
                            <mat-option value="Champagne">Pezsgő</mat-option>
                            <mat-option value="Whisky">Whisky</mat-option>
                            <mat-option value="Vodka">Vodka</mat-option>
                            <mat-option value="Gin">Gin</mat-option>
                            <mat-option value="Firewater">Pálinka</mat-option>
                            <mat-option value="Bitter">Keserű</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="short_description">Leírás:</mat-label>
                        <input matInput type="text" formControlName="short_description">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="alcohol">Alkohol tartalom:</mat-label>
                        <input matInput type="number" formControlName="alcohol">
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="quantity">Mennyiség:</mat-label>
                        <input matInput type="number" formControlName="quantity">
                    </mat-form-field>
                    <mat-form-field color="white">
                        <mat-label for="marker">Cimke:</mat-label>
                        <mat-select matInput formControlName="marker">
                            <mat-option value="-">Nincs</mat-option>
                            <mat-option value="soon">Hamarosan érkező</mat-option>
                            <mat-option value="new">Új</mat-option>
                            <mat-option value="discount">Akciós</mat-option>
                            <mat-option value="sale">Kiárusított</mat-option>
                        </mat-select>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label for="price">Ár:</mat-label>
                        <input matInput type="number" formControlName="price">
                    </mat-form-field>
                    <div>
                        <input type="file" (change)="onFileSelected($event)" accept="image/*"/>
                    </div>
                    <div class="button-container">
                        <span class="buttons">
                            <button mat-raised-button color="accent" type="submit">Hozzáad
                            </button>
                        </span>
                        <span class="buttons">
                            <button mat-raised-button color="accent" (click)="goBack()">Mégse
                            </button>
                        </span>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>