<div class="plexi-layer">
    <div class="z-2 h-[100vh] flex justify-center items-center">
      <mat-card class="w-1/4 mb-[10%] bg-red-700">
        <mat-card-header class="justify-center">
          <mat-card-title>Sikertelen vásárlás</mat-card-title>
        </mat-card-header>
        <mat-card-content class="text-center">
          <span>
            Elfelejtettél valamit a kosaradba tenni? Vásárolj tovább, majd térj vissza a fizetéshez!
          </span>
          <br/>
          <span>Ha bármi kérdésed van akkor keress minket ezen az e-mail címen: 
            <a href="mailto:krisztian.pal30@gmail.com" class="font-medium underline">krisztian.pal30@gmail.com</a>
          </span>
          <br/>
          <button mat-raised-button color="accent" routerLink="/main">Vissza a főoldalra!</button>
        </mat-card-content>
      </mat-card>
    </div>
  </div>