@import '../node_modules/tailwindcss/base';
@import '../node_modules/tailwindcss/components';
@import '../node_modules/tailwindcss/utilities';

body { margin: 0; font-family: 'Courier New', Courier, monospace; }

// Mindenhol ezt a betöltődést akarom használni
.loading-spinner {
  position: fixed;
  z-index: 1000;
  height: 1em;
  width: 1em;
  overflow: show;
  margin: auto;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

// szürkíteni a hátteret amikor töltődés van
.loading-spinner::before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0, 0.3);
}

@font-face {
  font-family: 'Wooden';
  src: url('assets/fonts/Driftwood.ttf');
}

@font-face {
  font-family: 'LoggerWooden';
  src: url('assets/fonts/Logger.ttf');
}