<div class="plexi-layer">
    <h1 class="font-black pt-[4%] pb-[12%] text-center z-[2] sizeh1">Bemutatkozás</h1>
    <div>
        <div class="introduction">
            Ez egy Magyarországon felépült képzeletbeli vállalat, mely a TrinkyDrinky nevet kapta,
            mely mindent megtesz annak érdekében, hogy kielégítse ügyfeleit. A weboldalon szabadon
            vásárolhatóak alkoholos és alkoholmentes készítmények egyaránt. A különlegesség,
            hogy egy játék keretein belül akciókat szerezhetsz. A platform kielégít mindenféle igényt,
            az italaink egyediek és különlegesek, melyeket mi fejlesztettünk ki. Az ízvilág teljesen
            újszerű. Együtt dolgozunk különféle más képzeletbeli márkákkal, melyek csak számunkra
            biztosítsák a termékeiket. Habár a piacon, mint üzletlánc nem vagyunk jelen fizikálisan,
            ezen okból kifolyólag csak rendelés lehetséges. Termékeink a képzelet világában 14 napon
            belül megérkeznek bármely címre. Egyelőre csak Magyarország teljes területén. Azonban az
            innovatív fejlesztéseknek köszönhetően reméljük, hogy hamarosan külföldön is áttörést érhetünk
            el.
        </div>
    </div>
    <div class="bg-black">
        <div class="pt-[2%] h-[8vh] text-center z-[2] sizeDescription">
            Újszerűségünk okán ezen linkre kattintva 5% kedvezményt biztosítunk minden 
            regisztrált felhasználónak minden termékünkre a feltüntetett és a játékkal
            szerzett akciókhoz bónuszként!<br>
            <p class="pt-[0.5%]">
                <a class="text-white font-black cursor-pointer underline hover:text-cyan-400" *ngIf='this.user' (click)="Discount()">Kattints az akcióhoz!</a>
                <a class="text-white font-black cursor-pointer underline hover:text-cyan-400" *ngIf='!this.user' (click)="LoginToDiscount()">Kattints az akcióhoz!</a>
            </p>
        </div>
        
        <footer class="pt-[0.5%] h-[5vh] text-center z-[2] sizeFooter">
            <mat-icon>sell</mat-icon>
            Köszönjük, hogy elolvastad a bemutatkozásunkat. Kellemes vásárlást kívánunk.
            <mat-icon>sell</mat-icon>
        </footer>   
    </div>
</div>